@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

$dallar-red: #c31427;
$clr-header-bgColor: $dallar-red;

$clr-font: 'Montserrat', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
$clr-altFont: 'Montserrat', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;

$clr-font-weights: (
    light: 200,
    regular: 300,
    semibold: 500,
    bold: 600
);

.btn, .btn-link {
    color: white;
    font: $clr-font;
    border-color: white
}