<div align="center" style="margin-left:80px;margin-right:80px">
    <h1 style="font-weight:400;font-size:86px;margin-top:76px;margin-bottom:24px" class="animated fadeIn">DALLAR</h1>
    <img src="../images/logo-square-red.png" style="width:320px" alt="Dallar">
    <h3>A cryptocurrency by a group of Game Developers, Artists and creative types that</h3>
    <h2>WANTED TO PUT A PRICE ON GIVING A FUCK.</h2>
    <div>
        <br/>
        <button class="btn btn-outline" style="color:white;border-color:white">Get Started</button>
        <span style="width:42px"></span>
        <button class="btn btn-primary" (click)="discordInvite()" id="primaryButton">Join Discord</button>
    </div>
    <hr style="margin-top:62px">
    <h2 id="about">ABOUT DALLAR</h2>
    <h5>The Dallar (DAL) is a fully functional blockchain to keep track of how many fucks you give. Unlike other cryptocurrencies,
        it was never intended to carry any real value. It is essentially a piece of group commentary that was meant to satirize
        the popular cryptocurrency trend, and is now a cultural experiment to Poe's Law.
        <br/>
        <br/> To give a DAL is to give a fuck.
        <br/>
        <br/> To fully understand how our blockchain works, we invite you to read our white paper.
    </h5>
    <div>
        <br/>
        <button class="btn btn-outline" (click)="openWallet()" style="color:white;border-color:white">Wallet</button>
        <span style="width:42px"></span>
        <button class="btn btn-primary" id="primaryButton" (click)="openWhitepaper()">Whitepaper</button>
    </div>
    <hr style="margin-top:62px">
    <h2 id="mining">MINING</h2>
    <h5 id="about-text">You can earn DAL through mining, showing up early pays off! We believe strongly in the decentralization of our network.
        You too can become a foundational contributor to our community and blockchain.
        <br/>
        <br/> Instructions on getting started can be found on our Discord server. Currently only Nvidia GPUs are supported, with
        AMD GPU support coming in as top priority.
    </h5>
    <div>
        <br/>
        <button class="btn btn-outline" (click)="openNvidiaMiner()" style="color:white;border-color:white">NVIDIA Miner</button>
        <span style="width:42px"></span>
        <button class="btn btn-outline" style="color:white;border-color:white" [disabled]="true">AMD Miner</button>
    </div>
    <hr style="margin-top:62px">
    <h2 id="blockchain">BLOCKCHAIN INFORMATION</h2>
    <table class="table table-vertical" style="margin-left:180px;margin-right:180px; width:50%">
        <tbody>
            <tr>
                <th>Algorithm</th>
                <td>Throestl</td>
            </tr>
            <tr>
                <th>Premine</th>
                <td>200,000 (0.7% of 1 year total)</td>
            </tr>
            <tr>
                <th>Block Rewards</th>
                <td>256 reducing 6% every 10080 blocks (1 week)</td>
            </tr>
            <tr>
                <th>Block Spacing</th>
                <td>1 minute</td>
            </tr>
            <tr>
                <th>Difficulty adjustment</th>
                <td>Standard bitcoin adjustment every 5 blocks until block 10000, then hopeful switch to DGW3 for every block.</td>
            </tr>
            <tr>
                <th>Total DAL after 1 year</th>
                <td>28,566,720</td>
            </tr>
            <tr>
                <th>Supported Platforms</th>
                <td>Wallet Core available for Windows, Linux, OSX</td>
            </tr>
        </tbody>
    </table>
</div>