<div class="row">
    <div class="col-md-12">
        <div class="intro">
            <img src="../images/logo-square-white.png" alt="Dallar Logo">
            <h2>Dallar is a cryptocurrency by a group of Game Developers, Artists and creative types that wanted to let you</h2>
            <h1>GIVE A FUCK.</h1>
            <br/>
            <button class="btn btn-primary" (click)="discordInvite()" id="primaryButton">Join The Dallar Discord</button>
            <br/>
            <br/>
        </div>
    </div>
</div>
<hr>

<div class="videoWrapper">
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/tJLAhTYmeYA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <clr-icon shape="moon"></clr-icon>
                About Dallar
            </div>
            <div class="card-block">
                <p>
                    The Dallar (DAL) is a fully functional blockchain to keep track of how many fucks you give. Unlike other cryptocurrencies,
                    it was never intended to carry any real value. It is essentially a piece of group commentary that was meant to satirize
                    the popular cryptocurrency trend, and is now a cultural experiment to Poe's Law.
                </p>
                <p>
                    To give a DAL is to give a fuck.
                </p>
                <p>
                    Our blockchain is essentially a fork of Groestlcoin, except our chain proof-of-work algorithm requires three rounds of Groestl hashing, an algorithm which we've named "throestl".
                </p>
                <p>
                    To fully understand our origin and purpose, we invite you to read our whitepaper. 
                </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-outline" id="primaryButton" (click)="openWhitepaper()">Download Dallar Whitepaper</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <clr-icon shape="piggy-bank"></clr-icon>
                Dallar Wallets
            </div>
            <div class="card-block">
                <p>
                    We currently have wallet clients for PC, OSX, and Android. iOS is coming soon. 
                </p>
                <p>
                    Our desktop wallets are based on the original Bitcoin QT Core Wallet (forked from Groestlcoin's codebase). They serve
                    as fully functional network nodes that help decentralize the blockchain.
                </p>
                <p>
                    Our available mobile wallets are based on BitPay's open-source mobile wallet Copay. While this wallet never releases
                    your wallet's private keys, it still requires a connection to a web server to update and send transactions. A fully decentralized
                    mobile wallet forked from BreadWallet is on our roadmap.
                </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-outline btn-icon" (click)="downloadWallet('pc')"><i class="fab fa-windows"></i>&nbsp;PC</button>
                <button class="btn btn-outline btn-icon" (click)="downloadWallet('osx')"><i class="fab fa-apple"></i>&nbsp;OSX</button>
                <button class="btn btn-outline btn-icon" (click)="downloadWallet('android')"><i class="fab fa-android"></i>&nbsp;Android</button>
                <button class="btn btn-outline btn-icon" (click)="downloadWallet('ios')" [disabled]=true><i class="fab fa-app-store-ios"></i>&nbsp;iOS</button>
                <br/><br/>
                <button class="btn btn-outline btn-icon" (click)="downloadWallet('source-desktop')"><i class="fab fa-github"></i>&nbsp;Desktop Source</button>
                <button class="btn btn-outline btn-icon" (click)="downloadWallet('source-copay')"><i class="fab fa-github"></i>&nbsp;Mobile Source</button>
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <dal-exchange></dal-exchange>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <clr-icon shape="objects"></clr-icon>
                About The Logo
            </div>
            <div class="card-block">
                <p>
                    Our logo is the Korean word for "moon", which is spelled "dal" when typing Korean on an English keyboard.
                    It is inscribed within a circle that symbolizes the moon.
                </p>
                <p>
                    We always try to use either a white or red Dallar logo, white being the moon's natural color as well as red being reminiscent of a blood moon.
                    The red color is specifically #C31427, which is sampled directly from the NASA Graphics Standard Manual created in 1976.
                </p>
                <p>
                    Dallar is still very much a work in progress, including its branding, so these and all other details may change in the future.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <clr-icon shape="blocks-group"></clr-icon>
                Blockchain Information
            </div>
            <div class="card-block">
                <table class="table table-vertical">
                    <tbody>
                        <tr>
                            <th>Algorithm</th>
                            <td>Throestl</td>
                        </tr>
                        <tr>
                            <th>Premine</th>
                            <td>200,000 Dallar</td>
                        </tr>
                        <tr>
                            <th>Block Rewards</th>
                            <td>256 reducing 6% every 10080 blocks (1 week)</td>
                        </tr>
                        <tr>
                            <th>Block Spacing</th>
                            <td>1 minute</td>
                        </tr>
                        <tr>
                            <th>Difficulty adjustment</th>
                            <td>Standard bitcoin adjustment every 6 blocks.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <clr-icon shape="store" class="is-solid"></clr-icon>
                Trading and Exchanging
            </div>
            <div class="card-block">
                <p>
                    Dallar's purpose isn't to maximize your profits through trading and exchanging, but again to give a fuck to our fellow man.
                </p>
                <p>
                    Dallar is a cryptocurrency however and it is destined to be exchanged in some form. Currently Dallar is only hosted on one exchange, but various community efforts to get listed on additional changes are underway. If you are aware of an exchange that might be interested in Dallar, please drop by our Discord and tell us about it.
                </p>
            </div>
            <div class="card-footer exchange-items">
                <img src="../images/digitalprice.png" alt="DigitalPrice">
                <button class="btn btn-outline btn-icon" (click)="openExchange('digitalprice')">&nbsp;DigitalPrice Exchange</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <clr-icon shape="dollar-bill"></clr-icon>
                Mining
            </div>
            <div class="card-block">
                <p>
                    Currently the easiest way to get some Dallar is to mine it. More ways to acquire Dallar are on our roadmap.
                </p>
                <p>
                    Mining Dallar essentially means turning your desktop's Graphics Card into a math cruncher, turning electrical power and Dallar transactions  into
                    mathematical guesses, hopefully which end up being a magical number that our blockchain will accept.
                </p>
                <p>
                    Currently we only offer two miners. More miners and an effort to simplify getting started with mining is on our roadmap.
                </p>
                <p>
                    One is a CUDA miner based on CCminer that requires Windows and relatively recent Nvidia GPU with up-to-date drivers.
                </p>
                <p>
                    The other is an AMD miner based on sgminer which requires Windows and an AMD GPU with up-to-date drivers.
                </p>
                <p>
                    For help with mining, please join <a href="https://discord.gg/ZV7CP89">our Discord</a> for help.
                </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-outline btn-icon" (click)="downloadMiner('nvidia')">&nbsp;NVIDIA Miner</button>
                <button class="btn btn-outline btn-icon" (click)="downloadMiner('amd')">&nbsp;AMD Miner</button>
                <br/><br/>
                <button class="btn btn-outline btn-icon" (click)="downloadMiner('source-nvidia')"><i class="fab fa-github"></i>&nbsp;NVIDIA Source</button>
                <button class="btn btn-outline btn-icon" (click)="downloadMiner('source-amd')"><i class="fab fa-github"></i>&nbsp;AMD Source</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <clr-icon shape="tools"></clr-icon>
                Additional Tools
            </div>
            <div class="card-block">
                <p>
                    Check out our official mining pool at <a href="http://pool.dallar.org">The Dallar Pool</a>.
                </p>
                <p>
                    Inspect our blockchain with Crypto ID's <a href="https://chainz.cryptoid.info/dal/">Dallar Block Explorer</a>.
                </p>
                <p>
                    Interested in branding? Check out our <a href="https://github.com/dallar-project/branding">Dallar Branding Guide</a>.
                </p>
                <p>
                    And also check out our roadmap, whenever we have some time to sit down and create a user-friendly roadmap display.
                </p>
            </div>
        </div>
    </div>
</div>